* {
  box-sizing: border-box;
}

html, body {
  // background-color: $blue-grey; 
  color: $faded-black;
  font-family: $main-font;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  padding-bottom: 40px;
}

.color-body {
  // background-color: $blue-grey; 
}
#root {
  padding-bottom: 40px;
} 


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button:focus {
  border-width: 3px;
  // background-color: red;
}
  
label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 700;
}

input::-webkit-input-placeholder {
  font-weight: $placeholder-font-weight;
  font-size: $placeholder-font-size;
  font-family: $form-font;
}
  
input::-moz-placeholder { /* Firefox 18- */
  font-weight: $placeholder-font-weight;
  font-size: $placeholder-font-size;
  font-family: $form-font;
}
  
input::-moz-placeholder {  /* Firefox 19+ */
  font-weight: $placeholder-font-weight;
  font-size: $placeholder-font-size;
  font-family: $form-font;
}
  
input::-ms-input-placeholder {  
  font-weight: $placeholder-font-weight;
  font-size: $placeholder-font-size;
  font-family: $form-font;
}
