/**
 * Basic typography style for copy text
 */
// body {
//   color: $text-color;
//   font: normal 125% / 1.4 $text-font-stack;
// }

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $faded-black;
}


h1 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

// .form-container, .welcome, .confirm, .modal, .nag {
//   font-family: 'Raleway', sans-serif; 
//   font-weight: bold;
// }