// colors
$primary-color: #3949ab;

$aqua: #1dd7b9;
$light-blue: #f2faff;  
$steel-blue: #607d8b;
$steel-blue-hover: #4c636e;
$error-red: #eb7e7f; 
$faded-black: #424242;


$blue-grey: #f0f4f7;
$super-light-grey: #FAFAFA;
$light-grey: #f7f8f8;
$medium-light-grey: #F5F5F5;
// $medium-light-grey: $light-grey;
$medium-grey: #E5E5E5;
$medium-dark-grey: #d9d9d9;
$dark-grey: #808080;

// typography 
$main-font: 'Roboto', sans-serif; 
$form-font: 'Raleway', sans-serif;
$modal-font: $form-font; 
$placeholder-font-weight: bold;
$placeholder-font-size: 1em;

// element structure
$onboard-screen-top-margin: 10vh;

