// colors
$primary-color: #3949ab;

$error-red: #eb7e7f; 
$faded-black: #424242;

$light-grey: #f7f8f8;
$dark-grey: #808080;
$medium-grey: #d9d9d9;

// fonts 
$form-font: 'Raleway', sans-serif;
$modal-font: $form-font; 

$onboard-screen-top-margin: 10vh;

