// colors
$soft-red: #f7958e;
$primary-color: #3949ab;
$primary-color: teal;
// $primary-color: #ff6868;

$secondary-color: $primary-color;

$timer-color: #3949ab;
$timer-color: #009cb8;
$timer-color: $primary-color;

$aqua: #1dd7b9;
$blue-grey: #f0f4f7;
$light-blue: #f2faff;  
$steel-blue: #607d8b;
$steel-blue-hover: #4c636e;
$error-red: #eb7e7f; 
$faded-black: #424242;


$super-light-grey: #FAFAFA;
$light-grey: #f7f8f8;
$medium-light-grey: #F5F5F5;
// $medium-light-grey: $light-grey;
$medium-grey: #E5E5E5;
$medium-dark-grey: #d9d9d9;
$dark-grey: #808080;



// typography 
$main-font: 'Roboto', sans-serif; 
// $main-heading;
$form-font: 'Raleway', sans-serif;
$modal-font: $form-font; 
$placeholder-font-weight: bold;
$placeholder-font-size: 1em;

// element structure
$onboard-screen-top-margin: 15vh;

