// @import 'form';
// @import '_variables'; 
// @import '_circularDeleteButton';

$form-width: 300px;
$form-margin-left: 30%;

.add-tasks-form-title {
  margin-bottom: 30px; 
}

.form-task-list {
  // border: 1px solid #000;
  margin: 25px auto;
  width: $form-width;
  font-size: .75em;
  
  
  .button-wrapper {
    // border: 1px solid #000;
    position: relative;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: center;
    line-height: 50px;
    height: 50px;  
    
    .task-restore {
      color: #555;
      height: auto;
      width: auto;
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      @include centerVertHoriz();
    }
  }
  
  .name-wrapper {
    // border: 1px solid #000;
    height: 50px;
    line-height: 50px;
    width: 75%;
    text-align: left;
    display: inline-block;
    font-size: 1.5em;
    padding-left: 20px;
  }
  
  span {
    position: relative;
    // top: 3px;
  }  
  
  button {
    margin: 0;
  }
}

.modal {
  .form-task-list {
    overflow-y: auto;
  }
}

.fullscreen-modal {
  .form-task-list {
    max-height: 45vh;
    overflow-y: auto;
  }
}

.normal-modal {
  .form-task-list {
    max-height: 265px;
  }
}

.add-tasks-form {
  text-align: left;
  margin-top: 44px;
  
  .input-wrapper {
    display: inline-block;
    width: 100%;
  }
}

.form-task-list-item {
  border: 1px solid #000;
  width: 200px;
  margin-bottom: 2px;
  height: 30px;
}