
.flip-button-container {
  height: 50px;
  perspective: 1000px;
  position: relative;
  width: 50px;
  margin: 0 auto;
  opacity: .1;
  
  &.active {
    opacity: 1;
    cursor: pointer;
  }
  
  .fa-play, 
  .fa-stop {
    position: absolute;
    @include centerVertHoriz();
  }
}

.flip-button {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .2s ease-in-out;
  width: 100%;
}

.flipped {
  transform: rotateY(-180deg);
}

.flip-button .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden 100%;
  width: 100%;
}

.flip-button .back {
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  background: $light-grey;
  width: 100%;
}
