.outline-button {
  border-radius: 40px;
  background: none;
  border: 2.2px solid #232529;
  padding: 1em 1.8em;
  font-size: .9em;
  font-family: $form-font;
  font-family: 'Open Sans';
  font-weight: 500;

  // $button-color: $medium-dark-grey;
  // color: $button-color;
  // border-color: $button-color;
}
