.outline-button {
  border-radius: 40px;
  background: none;
  border: 2.2px solid #232529;
  padding: 1em 1.9em;
  font-size: 1.1em;
  font-family: $form-font; 
  font-weight: bold; 
  
  // $button-color: $medium-dark-grey;
  // color: $button-color;
  // border-color: $button-color;
}
