.outline-button {
  border-radius: 40px;
  background: none;
  border: 2.2px solid #232529;
  padding: 16px 37px;
  font-size: 20px; 
  font-family: $form-font; 
  font-family: 'Open Sans'; 
  font-weight: 500; 
  
  // $button-color: $medium-dark-grey;
  // color: $button-color;
  // border-color: $button-color;
}
