@keyframes fade-in{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fade-in{
    0% { opacity:0; }
    100% { opacity:1; }
}

@mixin fade-in-delay($seconds) {
  opacity: 0;
  animation: fade-in 1s ease-in $seconds forwards;
}

.fade-in-long-delay {
  @include fade-in-delay(2.3s)
}

.fade-in-medium-delay {
  @include fade-in-delay(1.2s)
}

.fade-in-short-delay {
  @include fade-in-delay(.825s)
}
