// @import '/helpers/_variables';

// $heading-font-size: 28px;
$placeholder-font-weight: bold;
$placeholder-font-size: 1em;

/////// del
.fs-modal-form-container, .form-page {
  margin-top: $onboard-screen-top-margin; 
  border: 1px solid #000;
  position: relative;
  width: 100%;
  min-height: 60vh;
  max-height: 80vh;
  height: 100%;
}

.form-page {
  .form-container {
    top: 0;
  } 
}

.form-container {
  width: 70%;
  max-width: 960px;
}

.form-container {
  // border: 1px solid #000;
  position: relative;
  margin: 0 auto;
  text-align: left;
  font-family: $form-font; 
  font-weight: bold;
  
  .form-title {
    line-height: 1.2;
    // font-size: $heading-font-size;
    color: $faded-black;
    margin-bottom: 40px;
  }
  
  .error {
    color: $error-red;
    font-size: 1.1em;
  }  
  
  input {
    border: none;
    border-bottom: 1px solid $faded-black;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    width: 100%;
    display: inline-block;
    font-size: $placeholder-font-size;
    font-family: $form-font; 
  }
  
  label {
    font-size: 1.25em;
    margin-bottom: 10px;
    display: block;
  }
  
  &.welcome {
    text-align: center;
    
    button {
      margin-top: 25px;
    }
  }
  
  input::-webkit-input-placeholder {
    font-weight: $placeholder-font-weight;
    font-size: $placeholder-font-size;
    font-family: $form-font;
  }
  
  input::-moz-placeholder { /* Firefox 18- */
    font-weight: $placeholder-font-weight;
    font-size: $placeholder-font-size;
    font-family: $form-font;
  }
  
  input::-moz-placeholder {  /* Firefox 19+ */
    font-weight: $placeholder-font-weight;
    font-size: $placeholder-font-size;
    font-family: $form-font;
  }
  
  input::-ms-input-placeholder {  
    font-weight: $placeholder-font-weight;
    font-size: $placeholder-font-size;
    font-family: $form-font;
  }
}

.welcome {
  margin-top: $onboard-screen-top-margin;
} 

.form-submit {
  background: none;
  border-radius: 40px;
  border: 2.2px solid #232529;
  bottom: 0;
  font-family: $form-font; 
  font-weight: bold; 
  margin: 0 60px 40px 0;
  padding: 20px 30px;
  position: absolute;
  right: 0;
}  

.welcome {
  .form-submit {
    position: static;
    margin: 0;
  }
}
.normal-modal {
  .form-submit {
    // margin: 0 30px 25px 0;
  }
  .form-container {
    height: 70%;
  }
}

.form-submit-button-group {
  margin-top: 25px;
  text-align: right;
  
  button {
    position: static; 
    margin-bottom: 0; 
    margin-right: 10px;
  }
} 

.field-wrapper {
  margin-top: 30px; 
}
// 
// .minimal-form {
//   @include centerVertHoriz();  
// }
