.list-item {
  width: 100%;
  border-top: 1px solid $medium-grey;
  border-left: 1px solid $medium-grey;
  border-right: 1px solid $medium-grey;
  position: relative;
  padding: 15px;
  padding-left: 20px;
  
  span {
    margin-left: 20px;
  }
  
  &.selected {
    background-color: #FAFAFA;  
  }
  
  &.selected:hover {
    background-color: #FAFAFA;
  }
  
  &.active, 
  &.active:hover {
    background-color: rgba(165, 214 , 167, 0.3) !important;
  }
  
  &:last-child {
    border-bottom: 1px solid $medium-grey;
    
    &.total-time {
      border: none;   
    }
  }
  
  &:not(.list-item-header):not(.total-time):hover {
    background-color: #FAFAFA;
    cursor: pointer; 
  }
  
  &.total-time {
    border: none;
  }
  
  .list-item-header {
    color: grey;
    padding: 20px;
    font-weight: bold;
  }
}


.list-col {
  display: inline-block;
  text-align: left;
}

.list-item-col1 {
  width: 45%;
  padding-left: 12%;
}

.list-item-col2 {
  width: 45%;
  padding-left: 19%;
}

.list-item-col3 {
  width: 10%;
  vertical-align: middle;
}

.list-item-edit-menu {
  min-width: 0;
  padding: 0;
  text-align: left;
  position: relative;
  display: inline-block;
  // padding-top: 18px;
}

.list-item-edit-menu {
  .dropdown-wrapper {
    height: 0px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .edit-menu-icon {
    position: absolute;
    top: 1px;
    padding: 7px 12px;
    opacity: 0.5;
  }
  
  .edit-menu-icon:hover {
    background-color: #EEEEEE;
    opacity: 1;   
  }
  
  .edit-menu-icon:before {
    position: relative;
    top: 3px;
    left: 1px;
  }
}