.list-item {
  width: 100%;
  // border-top: 1px solid $medium-dark-grey;
  // border-left: 1px solid $medium-dark-grey;
  // border-right: 1px solid $medium-dark-grey;
  position: relative;
  padding: 25px;
  padding-left: 20px;
  line-height: 6px;
  font-size: 14px;

  span {
    // margin-left: 20px;
  }
  
  &.selected {
    background-color: $light-blue;  
  }
  
  &.selected:hover {
    background-color: $light-blue;
  }
  
  // &.active, 
  
  &.active { 
    background-color: $aqua !important;
    
    // &.active:hover {
    //   // background-color: $aqua !important;
    // }
    
    .list-item-stop {
      background-color: black;
      border-color: black;
    }
    
    .list-item-outline-button {
      background-color: transparent;
      
      &:hover {
        background-color: white;
        
        .icon-dots {
          opacity: 1;
          color: black;
        }
      }
      
      .icon-dots {
        opacity: 0.7 !important;
        
      }
    }  
    
    .icon-stop {
      color: $aqua;
    }
  }
  
  &:first-child:last-child {
    // border-bottom: 1px solid $medium-dark-grey;
    
    &.total-time {
      padding-top: 50px;
      border: none;   
    }
  }
  
  &:not(.list-item-header):not(.total-time):hover {
    background-color: $light-blue;
    cursor: pointer;
    
    .icon-dots {
      opacity: .7;
    }  
  }
  
  &.total-time {
    border: none;
    font-size: inherit;
  }
  
  .list-item-header {
    color: grey;
    padding: 20px;
    font-weight: bold;
  }
  
  .list-item-button {
    $icon-size: 14;
    $icon-padding: 8;
    box-sizing: content-box; 
    display: inline-block;
    padding: $icon-padding * 1px;
    background-color: $steel-blue;
    border: 1px solid $steel-blue;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    border-radius: 50%;
    position: relative;
    font-size: $icon-size * 1px;
    line-height: $icon-size * 1px;
    width: $icon-size * 1px;
    height: $icon-size * 1px;
    
    &.list-item-play,
    &.list-item-stop, {
      &:hover {
        background-color: $steel-blue-hover;
      }
    }
    
    &.list-item-outline-button {
      background-color: transparent;
      color: $steel-blue;
      margin-left: 20px;
      width: $icon-size - 0 * 1px;
      height: $icon-size - 0 * 1px;
      
      .icon-dots {
        opacity: 0;
      }
      
      &:hover {
        .icon-dots {
          opacity: 1;
        }  
      }
    }
    
    
    &.list-item-stop:before {
      $icon-radius: $icon-size / 2 + $icon-padding; 
      $spinner-radius: $icon-radius - 1;
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: $icon-radius - $spinner-radius * 1px;
      left: $icon-radius - $spinner-radius * 1px;
      width: $spinner-radius * 2px;
      height: $spinner-radius * 2px;
      border-radius: 50%;
      border-top: 0.75px solid white;
      /*   border-right: 2px solid transparent; */
      // border: 2px solid yellow; 
      animation: spinner 1s linear infinite;
    }   
    
    .list-item-letter-icon {
      font-size: 1.1em;
      font-weight: 500;
    }
    
    .icon-play {
      position: relative;
      left: 7.5%; 
    }
  }
  
  .list-item-context-menu {
    min-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
    // display: inline-table;
    // vertical-align: middle;
     
    .popup-wrapper {
      height: 0px;
    }
    
    .popup-trigger:hover {
      background-color: transparent; 
    }  
  
    .popup-content {
      background-color: white;
      font-size: 12px;
      font-weight: 500;
      min-width: 160px;
      position: absolute;
      top: 58px;
      right: 0px;
      // padding-left: 0;
      // padding-right: 0;
      padding: 0;
    }
    
    .popup-item {
      border: 1px solid $medium-light-grey;
      border-bottom: none;
      padding: 5px;
      text-transform: uppercase;
      
      &:last-child {
        border-bottom: 1px solid $medium-light-grey;
      }
      
      &:hover {
        background-color: $super-light-grey; 
      }
      
      .context-menu-icon {
        opacity: 0.6;
      }
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
