  .list-item-context-menu {
    min-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
    // display: inline-table;
    // vertical-align: middle;
     
    .popup-menu-wrapper {
      height: 0px;
    }
    
    .popup-menu-trigger:hover {
      background-color: transparent; 
    }  
  
    .popup-menu-content {
      // padding-left: 0;
      // padding-right: 0;
      background-color: white;
      padding: 0;
      position: absolute;
      right: 0px;
      top: 58px;
      min-width: 155px;
    }
    
    .popup-menu-item {
      border: 1px solid $medium-light-grey;
      border-bottom: none;
      padding: 8px 10px;
      text-transform: uppercase;
      
      &:last-child {
        border-bottom: 1px solid $medium-light-grey;
      }
      
      &:hover {
        background-color: $super-light-grey; 
      }
      
      .context-menu-icon {
        opacity: 0.6;
      }
    }
  }
