.list-item {
  width: 100%;
  // border-top: 1px solid $medium-grey;
  // border-left: 1px solid $medium-grey;
  // border-right: 1px solid $medium-grey;
  // display: table;
  position: relative;
  padding: 25px;
  padding-left: 20px;
  line-height: 6px;

  span {
    // margin-left: 20px;
  }
  
  &.selected {
    background-color: $light-blue;  
  }
  
  &.selected:hover {
    background-color: $light-blue;
  }
  
  // &.active, 
  
  &.active { 
    background-color: $aqua !important;
    
    // &.active:hover {
    //   // background-color: $aqua !important;
    // }
    
    .list-item-stop {
      background-color: black;
      border-color: black;
    }
    
    .list-item-outline-button {
      background-color: transparent;
      &:hover {
        background-color: white;
        
        .icon-dots {
          opacity: 1;
          color: black;
        }
      }
      
      .icon-dots {
        opacity: 0.7 !important;
        
      }
    }  
    
    .icon-stop {
      color: $aqua;
    }
  }
  
  &:first-child:last-child {
    border-bottom: 1px solid $medium-grey;
    
    &.total-time {
      border: none;   
    }
  }
  
  &:not(.list-item-header):not(.total-time):hover {
    background-color: $light-blue;
    cursor: pointer;
    
    .icon-dots {
      opacity: .7;
    }  
  }
  
  &.total-time {
    border: none;
  }
  
  .list-item-header {
    color: grey;
    padding: 20px;
    font-weight: bold;
  }
  
  .list-item-button {
    $icon-size: 16;
    $icon-padding: 10;
    box-sizing: content-box; 
    margin-right: 20px;
    display: inline-block;
    padding: $icon-padding * 1px;
    background-color: $steel-blue;
    border: 1px solid $steel-blue;
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    border-radius: 50%;
    position: relative;
    font-size: $icon-size * 1px;
    line-height: $icon-size * 1px;
    width: $icon-size * 1px;
    height: $icon-size * 1px;
    
    &.active {
      
    }
    
    &.list-item-outline-button {
      background-color: transparent;
      color: $steel-blue;
      width: $icon-size - 2 * 1px;
      height: $icon-size - 2 * 1px;
      
      .icon-dots {
        opacity: 0;
      }
      
      &:hover {
        .icon-dots {
          opacity: 1;
        }  
      }
    }
    
    
    &.list-item-stop:before {
      $icon-radius: $icon-size / 2 + $icon-padding; 
      $spinner-raduius: $icon-radius - 1;
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: $icon-radius - $spinner-raduius * 1px;
      left: $icon-radius - $spinner-raduius * 1px;
      width: $spinner-raduius * 2px;
      height: $spinner-raduius * 2px;
      border-radius: 50%;
      border-top: 0.75px solid white;
      /*   border-right: 2px solid transparent; */
      // border: 2px solid yellow; 
      animation: spinner 0.9s linear infinite;
    }   
    
    .icon-play {
      position: relative;
      left: 7.5%; 
    }
    
    
  }
  
  .list-item-icon {
    &.list-item-task-icon {
      font-size: 39px;
      // color: $steel-blue;
    }
    
  }
  
  .list-item-col {
    // border: 1px solid black;
    display: inline-block; 
    text-align: left;
    vertical-align: top;
    
    &.list-item-col1 {
      width: 20%;
      // padding-left: 12%;
      // height: 30px;
    }
    
    &.list-item-col2 {
      width: 60%;
      // padding-left: 19%;
    }
    
    &.list-item-col3 {
      width: 20%;
      text-align: right;
      // vertical-align: middle;
    }
    
    &.list-item-col4 {
      // width: 10%;
      // vertical-align: middle;
    }
    
    .list-item-col-title {
      color: $faded-black;
      font-size: 22px;
      font-weight: normal;
      margin-top: 0px;
    }
    
    .list-item-col-time {
      // display: inline-block;
    }
  }
  
  .list-item-context-menu {
    min-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
    // display: inline-table;
    // vertical-align: middle;
     
    .dropdown-wrapper {
      height: 0px;
    }
    
    .dropdown-trigger:hover {
      background-color: transparent; 
    }  
  
    .dropdown-content {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
