.list-item {
  width: 100%;
  // border-top: 1px solid $medium-grey;
  // border-left: 1px solid $medium-grey;
  // border-right: 1px solid $medium-grey;
  display: table;
  position: relative;
  padding: 15px;
  padding-left: 20px;
  line-height: 6px;
  
  span {
    // margin-left: 20px;
  }
  
  &.selected {
    background-color: $light-blue;  
  }
  
  &.selected:hover {
    background-color: $light-blue;
  }
  
  &.active, 
  &.active:hover {
    background-color: rgba(165, 214 , 167, 0.3) !important;
  }
  
  &:first-child:last-child {
    border-bottom: 1px solid $medium-grey;
    
    &.total-time {
      border: none;   
    }
  }
  
  &:not(.list-item-header):not(.total-time):hover {
    background-color: $light-blue;
    cursor: pointer; 
  }
  
  &.total-time {
    border: none;
  }
  
  .list-item-header {
    color: grey;
    padding: 20px;
    font-weight: bold;
  }
  
  .list-item-button {
    border-radius: 50%;
    display: inline-table;
    text-align: center;
    // width: 50px;
    // font-size: 50px;
    // padding: 15px;
    // line-height: 50px;
    // background-color: black;
    // color: white;
    // width: 50px;
    // height: 50px;
    // vertical-align: text-bottom;
    // border-radius: 50%;    
    
    .list-item-button-child {
      border-radius: 50%;
      display: inline-block;
      padding: 0px;
      position: relative;
      text-align: center;
      height: 37px;
      width: 37px;
      line-height: 37px;
      vertical-align: middle;
      
      &.list-item-play {
        background-color: $steel-blue;
        border: 1px solid $steel-blue; 
      }  
      
      &.list-item-menu {
        border: 1px solid $steel-blue; 
      }  
      
      .list-item-play-icon {
        // color: $steel-blue;
        color: white;
        font-size: 18px;
        z-index: 1000;
        position: relative;
        left: 4.5%;
        
        // @include centerVertHoriz();
        // left: 0;
      }
    }
  }
  
  .list-item-icon {
    &.list-item-task-icon {
      font-size: 32px;
    }
    
  }
  
  .list-item-col {
    // border: 1px solid $light-blue;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    
    &.list-item-col1 {
      width: 20%;
      // padding-left: 12%;
      // height: 30px;
    }
    
    &.list-item-col2 {
      width: 60%;
      // padding-left: 19%;
    }
    
    &.list-item-col3 {
      width: 10%;
      // vertical-align: middle;
    }
    
    &.list-item-col4 {
      // width: 10%;
      // vertical-align: middle;
    }
    
    .list-item-col-title {
      color: $faded-black;
      font-size: 22px;
      font-weight: normal;
    }
    
    .list-item-col-time {
      // display: inline-block;
    }
  }
  
  .list-item-context-menu {
    min-width: 0;
    padding: 0;
    text-align: left;
    position: relative;
    display: inline-table;
    // vertical-align: middle;
    
    .dropdown-wrapper {
      height: 0px;
    }
    
    .dropdown-content {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    
    .context-menu-icon {
      // height: 20px;
      // line-height: 20px;
      // width: 100px;
      // height: 100px;
      // border-radius: 50%;
      // text-align: center;
      // line-height: 100px;
      // vertical-align: middle;
      // padding: 30px;
      // position: absolute;
      // /* top: 56%; */
      // left: 50%;
      // transform: translate(-50%, -7%);
      // /* padding: 7px 2px; */
      opacity: 0.5;
      
      &:hover {
        background-color: $light-blue;
        opacity: 1;   
      }
      
      &:before {
        position: relative;
        top: 3px;
        left: 1px;
      }
    }
  }
}

