// @import '_variables';

nav {
  background-color: $primary-color;
  background-color: white;
  width: 100%;
  // color: white;
  font-weight: normal;
  border-bottom: solid 1px $medium-grey;
}

.nav-logo-wrapper {
  // border: 1px solid white;
  display: inline-block;
  margin-left: 25%;
  // margin-left: 10%;
  margin-right: 50px;
  position: relative;
  
  .nav-logo-text {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-left: 5px;
    
    .nav-logo-text-bold {
      font-weight: 400;
    }     
  }
  
  .nav-logo-image {
    position: relative;
    vertical-align: middle;
    width: 30px;
    bottom: 7px;
    display: none;
  }
  
  @include respond-to(handhelds) { 
    margin-left: 5%;
    margin-right: 25px;
  }
  
  @include respond-to(small-screens) {
     margin-left: 10%;
  }
   
  @include respond-to(medium-screens) { 
    margin-left: 10%;
  }
}

nav a {
  // height: 100%;
  line-height: 61px;
  padding: 1px 20px;
  // color: white;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  
  @include respond-to(handhelds) { 
    padding: 1px 10px;
  }
}

nav a:hover {
  // background-color: #5C6BC0;
  // background-color: $super-light-grey;
  font-weight: normal;
  cursor: pointer;
}


.nav-link {
  // display: inline-block;
  // margin-right: 25px;
  
  &.active-link {
    // background-color: grey;
  }
}

nav a.active-link {
  color: $primary-color;
  font-weight: normal;
  // background-color: #5C6BC0;
  // background-color: $secondary-color;
}