.nav-logo-wrapper {
  display: inline-block;
  margin-left: 25%;
  margin-right: 50px;
  position: relative;

  @include respond-to(handhelds) {
    margin-left: 5%;
    margin-right: 25px;
  }

  @include respond-to(small-screens) {
    margin-left: 10%;
  }

  @include respond-to(medium-screens) {
    margin-left: 10%;
  }

  .nav-logo-text {
    display: inline-block;
    font-family: $font-title;
    font-weight: 400;
    margin-left: 5px;
  }

  .nav-logo-image {
    bottom: 7px;
    display: none;
    position: relative;
    vertical-align: middle;
    width: 30px;
  }
}
