// @import '_variables';

nav {
  background-color: $primary-color;
  width: 100%;
  color: white;
  font-weight: normal;
}

.logo-wrapper {
  display: inline-block;
  margin-left: 25%;
  margin-right: 50px;
  position: relative;
  
  .logo-text {
    display: inline-block;
    line-height: 1;
  }
  
  .logo-image {
    @include centerVertHoriz();
    left: 110%;
    display: inline-block;
    display: none;
  }
}

nav a {
  // height: 100%;
  line-height: 56px;
  padding: 0 19px;
  color: white;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: #5C6BC0;
  cursor: pointer;
}


.nav-link {
  // display: inline-block;
  // margin-right: 25px;
  
  &.active-link {
    // background-color: grey;
  }
}

nav a.active-link {
  background-color: #5C6BC0;
}