.nav-link-wrapper {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;

  .nav-link {
    color: $grey-dark;
    display: inline-block;
    font-weight: 300;
    line-height: 52px;
    padding: 1px 10px;
    position: relative;
    text-decoration: none;

    @include respond-to(handhelds) {
      padding: 1px 10px;
    }

    &.active-link {
      color: $color-primary;
      font-weight: normal;

      &::after {
        background-color: $teal-light;
        bottom: -1px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &:hover:not(.active-link) {
      font-weight: normal;

      &::after {
        background-color: $teal-dark;
        bottom: -1px;
        content: '';
        height: 1px;
        left: 0;
        position: absiolute;
        width: 100%;
      }
    }

    .nav-timer-link-name {
      position: relative;
      right: 1.8px;
    }
  }
}
