.projects-page-container {
  padding-top: 30px; 
  
  &.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.project-select-tip-wrapper {
  text-align: center;
}

.project-select-tip {
  display: inline-block;
  border: 1px solid $border-light-grey;
  padding: 15px;
  background-color: #fafafa;
  
  .info-icon {
    background-color: #fafafa;
    color: #BDBDBD;
    margin-right: 10px;
    font-size: 15px;
    display: inline-block;
  }
  
  button {
    border-radius: 50px;
    height: 22px;
    width: 22px;
    border: 0;
    box-shadow: inset 0 0 0 1px   rgba(0,0,0,0.2);
    margin-left: 10px;
    background: linear-gradient(#fff, #eee);
    text-align: center;
    position: relative;
    top: 3px;
    
    .icon-cancel  {
      @include centerVertHoriz();
      left: 51%;
      top: 57.6%;
      opacity: 0.6;
      font-size: 1.05em;
    }
  }
}