// .main-page {
//   background-color: $blue-grey; 
// }

.time-tracker {
  text-align: center;
} 


.timesheet-button-wrapper {
  text-align: right;
  margin-bottom: 10px;
}

.timesheet-add-button {
  display: inline-block;
}


// .timesheet-add-button {
//   bottom: 36px;
//   right: 54px;
//   z-index: 200;
// }
