.timer {
  position: relative;
  width: 225px;
  margin: 0 auto;
    
  .timer-content {
    font-size: 29px;
    @include centerVertHoriz();
    
    .timer-control {
      color: $timer-color;
      // color: #5C6BC0;
      // color: #7986CB;
      .icon-play-rounded {
        font-size: 128px;
        position: relative;
        left: 5%;
      }
    }
    
  }

  
  .edit-time, 
  .editing {
    font-size: 1.5em;
  }
}

