.timesheet {
  width: 100%;
  margin: 0 auto;
  min-width: 600px;
  padding-top: 50px;
  
  .timesheet-add-button {
    margin-bottom: 10px;
  }  
  
  .timesheet-title {
    font-size: 1.5em;
    text-align: center;
  }    
  
  .total {
    color: #808080;
    font-weight: bold;
  }
}
