.timer {
  position: relative;
  width: 225px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; 
  font-weight: 100;
   
  .timer-content {
    font-size: 33px;
    @include centerVertHoriz();
    // border: 1px solid #000;
    
    .timer-control {
      color: $timer-color;
      // color: #5C6BC0;
      // color: #7986CB;
      .icon-play-rounded {
        // border: 1px solid #000;
        font-size: 128px;
        position: relative;
        left: 7%;
        &:before {
          // @include centerVertHoriz();
        }
      }
    }
    
  }

  
  .edit-time, 
  .editing {
    font-size: 1.5em;
  }
}

