.timesheet {
  background-color: white;
  font-size: 14px;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 30px 0;
  width: 80%;
  min-height: 37vh;
  min-width: 600px;
  
  .timesheet-row {
    padding: 25px;
  }
  
  .timesheet-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    // margin-bottom: 33px;
    // margin-top: 20px;
    margin: 0;
    text-align: center;
  }    
  
  .total-time {
    padding-top: 50px;
    padding-bottom: 0px;
    
    .total-time-time {
      font-weight: 500;
      font-size: .95em;
    }  
  }
}
