.master-container {
  background-color: $blue-grey; 
}


.time-tracker {
  height: 100%;
  text-align: center;
} 



.timesheet-button-wrapper {
  text-align: right;
  margin-bottom: 10px;
}

.timesheet-add-button {
  display: inline-block;
}

.gear-icon-wrapper {
  color: #BDBDBD;
  padding: 5px;
  position: absolute;
  top: 80px;  
  right: 35px;
}

.gear-icon-wrapper:hover {
  color: #9E9E9E;
  cursor: pointer;
}

// .timesheet-add-button {
//   bottom: 36px;
//   right: 54px;
//   z-index: 200;
// }
