// delete unused fade out stuff

@keyframes fade-in{
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fade-out{
    0% { opacity:1; }
    // 99% { opacity:0; }
    100% {
      color: red;
      // display: none;
      opacity: 1;
      position: absolute !important;
      top: -99px !important;
      left: -99px !important;;
     }
}

@-webkit-keyframes fade-in{
    0% { opacity:0; }
    100% { opacity:1; }
}

.fade-out {
  // opacity: 0;
  // animation: fade-out .2s ease-in forwards;
  visibility: hidden;
}

@mixin fade-in-delay($seconds) {
  opacity: 0;
  animation: fade-in 1s ease-out $seconds forwards;
}

.fade-in-long-delay {
  @include fade-in-delay(2.3s)
}

.fade-in-medium-delay {
  @include fade-in-delay(1.2s)
}

.fade-in-short-delay {
  @include fade-in-delay(.825s)
}

.fade-in-fast {
  @include fade-in-delay(.001s)
}
