$form-width: 300px;
$form-margin-left: 30%;

.add-tasks-form-title {
  margin-bottom: 30px; 
}

.add-tasks-form-title {
  span {
    font-weight: bold;
  }
}

.form-task-list {
  margin: 25px auto;
  width: $form-width;
  min-height: 100px;
  max-height: 275px;
  overflow-y: auto;
  font-size: .75em;
  margin-left: $form-margin-left;
}

.add-tasks-form {
  text-align: left;
  width: $form-width;
  margin: 0 auto;
  margin-left: $form-margin-left;
}

.form-task-list-item {
  border: 1px solid #000;
  width: 200px;
  margin-bottom: 2px;
  height: 30px;
}

.form-task-list {
  .button-wrapper {
    width: 20%;
    display: inline-block;
    padding: 10px;
    padding-left: 0;
  }
  
  .name-wrapper {
    width: 80%;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
  }
  
  button {
    margin: 0;
  }
  
}

.add-task-form-submit {
  font-size: .8em;
  font-family: sans-serif;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
