@import 'form';
@import 'variables'; 

$form-width: 300px;
$form-margin-left: 30%;

.add-tasks-form-title {
  margin-bottom: 30px; 
}

.form-task-list {
  margin: 25px auto;
  width: $form-width;
  max-height: 265px;
  overflow-y: auto;
  font-size: .75em;
  margin-left: $form-margin-left;
  
  .button-wrapper {
    width: 20%;
    display: inline-block;
    // padding: 10px;
    height: 50px;
    padding-left: 0;
    vertical-align: top;
    // position: absolute;
    
    .delete-task-button {
      animation: none;
      -webkit-animation: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;  
      border: 1px solid black;
      top: 47%;
      transform: translateY(-50%);
      position: relative;
      
      span {
        @include centerVertHoriz
      }
    }
  }
  
  .button-wrapper:focus {
    border: 3px solid black;
  }
  
  .button-wrapper:hover {
    cursor: pointer;
  }
  .name-wrapper {
    width: 80%;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
    font-size: 1.5em;
    height: 50px;  
  }
  
  button {
    margin: 0;
  }
}

.add-tasks-form {
  text-align: left;
  margin-top: 44px;
  
  .input-wrapper {
    display: inline-block;
    width: 100%;
  }
}

.form-task-list-item {
  border: 1px solid #000;
  width: 200px;
  margin-bottom: 2px;
  height: 30px;
}