@import 'form';
@import 'variables'; 
@import '_circularDeleteButton';

$form-width: 300px;
$form-margin-left: 30%;

.add-tasks-form-title {
  margin-bottom: 30px; 
}

.form-task-list {
  border: 1px solid #000;
  margin: 25px auto;
  width: $form-width;
  font-size: .75em;
  
  .task-restore {
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 3px;
  }
  
  .name-wrapper {
    width: 80%;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
    font-size: 1.5em;
    height: 50px;  
  }
  
  button {
    margin: 0;
  }
}

.modal {
  .form-task-list {
    overflow-y: auto;
  }
}

.fullscreen-modal {
  .form-task-list {
    max-height: 45vh;
    overflow-y: auto;
  }
}

.normal-modal {
  .form-task-list {
    max-height: 265px;
  }
}

.add-tasks-form {
  text-align: left;
  margin-top: 44px;
  
  .input-wrapper {
    display: inline-block;
    width: 100%;
  }
}

.form-task-list-item {
  border: 1px solid #000;
  width: 200px;
  margin-bottom: 2px;
  height: 30px;
}