@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
    opacity: 1; 
  }
}

.bounceInDown-appear {
  //  -webkit-animation-name: bounceInDown;
  // //  -webkit-animation-delay: 2s;
  //   -webkit-animation-duration: 1s;
  //   -webkit-animation-iteration-count: 1;
  //   -webkit-animation-timing-function: linear;
  //   animation-name: bounceInDown;
  //   animation-duration: 1s;
  //   animation-timing-function: linear;
  //   
    animation: bounceInDown 1s linear; 
    // animation-iteration-count: 1;
}

.bounceInDown-appear-second {
    opacity: 0;
    animation: bounceInDown 1s linear 400ms forwards; 
}