.danger-text {
  font-size: 1.3em;
}

.confirm-modal {
  position: static;
}

.confirm-button-group {
  position: absolute;
  margin: 40px 40px;  
  right: 0;
  bottom: 0;
  
  button {
    position: static;
    margin: 0;
    margin-left: 10px;
  }
}