@import 'ProjectDropdown.scss';

.dropdown {

}

.dropdown-item {
    clear: both;
}

.dropdown-trigger-wrapper {
  padding: 9px 15px;
  display: inline-block;
}

.projects-dropdown .dropdown-trigger-wrapper {
  height: 50px;
  padding: 14px 18px;
  display: inline-block;
}

.dropdown-trigger:hover {
  cursor: pointer;	 
}

.dropdown-content {
  min-width: 160px;
  display: block;
  position: absolute;
  left: 61px;
  bottom: 20px;
  background-color: #f9f9f9;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: left;
}

.projects-dropdown .dropdown-content {
  margin-top: 13px;
}

.dropdown a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
}

.dropdown-item:hover {
  width: 100%;
  background-color: #ddd;
}


.fa-bars {
  color: black;
  font-size: 33px;
}
