* {
  box-sizing: border-box;
}

body {
  font-weight: normal !important;
  margin: 0 !important;
  padding-bottom: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@mixin centerVertHoriz(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}