// 1. Configuration and helpers
@import
  'helpers/variables', 
  'helpers/functions',
  'helpers/helpers',
  'helpers/mixins';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/normalize',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/time-tracker-sections';

// 6. Page-specific styles
@import
  'pages/home';

@import 
  'animations/fade-in',
  'animations/modal-transitions',
  'animations/page-transitions',
  'animations/slide-in-left',
  'animations/bounce-in-down';
  
@import
  'components/add-tasks-form',
  'components/button-flip',
  'components/button-circular-delete',
  'components/button-material',
  'components/button-outline',
  'components/circular-progressbar',
  'components/confirm',
  'components/edit-inline-text',
  'components/form',
  'components/list-item-context-menu',
  'components/list-item',
  'components/loader',
  'components/modal',
  'components/nag',
  'components/nav',
  'components/popup-menu',
  'components/project-heading',
  'components/select',
  'components/task',
  'components/timer',
  'components/timesheet-column',
  'components/timesheet',
  'components/welcome-modal.scss';
