@import 'variables';

* {
  box-sizing: border-box;
}

.list-container {
  width: 55%;
  margin: 0 auto;
  min-width: 600px;
  padding-top: 50px;
}

.task-list {
  width: 100%;
  margin-top: 10px;
}

.list-item-col1 {
  width: 45%;
  padding-left: 59px;
}

.list-item-col2 {
  width: 45%;
  padding-left: 57px;
}

.list-item-col3 {
  width: 10%;
  vertical-align: middle;
}

.list-col {
  display: inline-block;
  text-align: left;
}

.list-item-header {
  color: gray;
  padding: 20px;
  font-weight: bold;
}

.list-item {
  width: 100%;
  border-top: 1px solid $border-light-grey;
  border-left: 1px solid $border-light-grey;
  border-right: 1px solid $border-light-grey;
  position: relative;
  padding: 15px;
  padding-left: 20px;
  
  span {
    margin-left: 20px;
  }
  
  &.active {
    background-color: rgba(165, 214 , 167, 0.3);
  }
  
  &.selected {
    background-color: #FAFAFA;  
  }
  
  &.selected:hover {
    background-color: #FAFAFA;  
  }
  
  &.total-time {
    border: none;
  }
}

.list-item:last-child {
  border-bottom: 1px solid $border-light-grey;
   
   &.total-time {
    border: none;   
   }
}

.list-item:not(.list-item-header):not(.total-time):hover {
  background-color: #FAFAFA;
  cursor: pointer; 
}

.total {
  span {
    color: #808080;
    font-weight: bold;
  }
}

.list-item-edit-menu {
  min-width: 0;
  padding: 0;
  text-align: left;
  position: relative;
  display: inline-block;
  // padding-top: 18px;
}

.list-item-edit-menu {
  .dropdown-wrapper {
    height: 0px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .edit-menu-icon {
    position: absolute;
    top: 1px;
    padding: 7px 12px;
  }
  .edit-menu-icon:hover {
    background-color: #EEEEEE    
  }
  
  .edit-menu-icon:before {
    position: relative;
    top: 3px;
    left: 1px;
  }
}