@import 'variables';

* {
  box-sizing: border-box;
}

.task-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list-item-col1 {
  width: 40%;
  padding-left: 36px;
}

.list-item-col2 {
  padding-left: 57px;
  width: 40%;
}

.list-item-col3 {
  width: 20%;
  vertical-align: middle;
}

.list-col {
  display: inline-block;
  text-align: left;
}

.list-item-header {
  color: gray;
  padding: 20px;
}

.list-item {
  margin: 0 auto;
  width: 500px;
  border-top: 1px solid $border-light-grey;
  border-left: 1px solid $border-light-grey;
  border-right: 1px solid $border-light-grey;
  position: relative;
  padding: 10px;
  padding-left: 20px;
}

.list-item:last-child {
  border-bottom: 1px solid $border-light-grey;
}

.list-item span {
  margin-left: 20px;
}

.list-item-edit-menu {
  min-width: 0;
  padding: 0;
  text-align: left;
  position: relative;
  display: inline-block;
  // padding-top: 18px;
}

.list-item-edit-menu {
  .dropdown-wrapper {
    height: 0px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}