@import 'variables';

.task-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list-item {
  margin: 0 auto;
  width: 500px;
  border-top: 1px solid $border-light-grey;
  border-left: 1px solid $border-light-grey;
  border-right: 1px solid $border-light-grey;
  position: relative;
  padding : 20px 10px;
}

.list-item:last-child {
  border-bottom: 1px solid $border-light-grey;
}

.list-item span {
  margin-left: 20px;
}