.modal-body {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fefefe;
  padding: 57px 45px;
  padding-bottom: 75px;
  border: 1px solid #888;
  width: 600px;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0,0,0,.4);
  font-family: 'Open Sans', sans-serif;
  color: #484848;
}

.modal-scroll-wrapper {
  max-height: 70vh;
}

.modal-text-parent {
  font-size: 0.9em;
  line-height: 1.5;
}

.modal-text-child {
  display: inline-block;
  text-align: left;
}

.modal-text-child p {
  margin-top: 0; 
  display: inline-block;
}

.modal-title {
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: .02em;
  color: #424242;
  font-family: Lato;
  
  display: block;
  width: 75%;
  margin: 0 auto;
}

.modal-image {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 55px; 
}

.modal-button-wrapper {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.modal-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #e3e3e3;
  padding: 12px 17px;
  font-size: .75em;
  margin-right: 5px;
  font-weight: bold;
  display: inline-block;
}

.modal-button-right {
  background-color: #4285f4;
  border: none; 
  color: white;
}

.modal-button-left {
  color: #4285f4;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 26px;
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  z-index: 1000;
}

.modal-close:hover {
  cursor: pointer; 
}

.modal-close:hover {
  
}

.modal-button-right:hover {
  background-color: #528ff5;
  cursor: pointer;
}

.modal-button:focus {
  text-decoration: none;
}

.modal-button-left:hover,
.modal-button-left:focus {
  color: #528ff5;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .modal-content {
    width: 90%;
    min-width: 90%;
    padding: 40px 15px;
    padding-bottom: 125px;
  }
  
  .modal-image {
    margin:  20px auto;
    margin-bottom: 0;
  }
  
  .modal-text-parent {
    font-size: .7em;
  }
  
  .list-wrapper {
    font-size: .7em;
    width: 243px;
  }
}
