@import 'variables';

nav {
  background-color: $color-primary;
  padding: 20px;
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: normal;
}

nav ul {
  display: inline-block;
  margin-left:  20px;
}

nav a {
  height: 100%;
  padding: 24px 10px;
  padding-top: 28px; 
  color: white;
  font-size: .5em;
  font-weight: normal;
  text-decoration: none;
}

nav a:hover {
  background-color: grey;
  cursor: pointer;
}

.logo-text {
  display: inline-block;
  margin-left: 25%;
}

.nav-link {
  display: inline-block;
  margin-right: 15px;
  
  &.active-link {
    // background-color: grey;
  }
}

nav a.active-link {
    background-color: grey;
}