.project-heading-wrapper {
  position: relative;
  width: 100%;
}

.project-heading {
  width: 100%;
}

.project-heading-icon {
  position: absolute;
  top: 17px;
  right: -16px;
  height: 24px;
}
.icon-dots-menu {
  position: absolute;
  top: 3px;
}