@import 'variables';

.select {
  font-size: 1.5em;
  
  .option {
    padding: 7px;
  }
  
  .option:hover {
    background-color: $border-light-grey;
    cursor: pointer;
  }
  
  .grey {
    color: $font-light-grey;
  }
}

@keyframes scaleTranslate{
  from { opacity:0; }
}

.dropdown-enter {
  opacity: 0;
  transform:   translateY(-40%) scale(0.9);

}
.dropdown-enter.dropdown-enter-active {
  opacity: 1;
  transform:   translateY(-50%) scale(1);
  transition-property: transform, opacity, scale;
  transition-duration: 200ms;
  transition: opacity 0.4s, transform 0.4s;
  // transition-timing-function: cubic-bezier(0.175, 0.665, 0.420, 1), linear;
}


.dropdown-leave {
  opacity: 1;
  transform:   translateY(-50%) scale(1);
}

.dropdown-leave.dropdown-leave-active {
  opacity: 0;
  transform:   translateY(-40%) scale(0.9);
  transition: opacity 0.4s, transform 0.4s;
}

