.timer {
  position: relative;
  margin: 20px;
  width: 225px;
  border: 1px solid #000;
  margin: 0 auto;
}


.timer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
}