@import 'variables';
@import '_materialButton';

.time-tracker-page-container {
  padding-bottom: 50px;
}

.time-tracker {
  text-align: center;
}

.timer-section {
  padding: 40px;
  background-color: $timer-background-light-grey;
  border-bottom: 1px solid #e5e5e5;
}

.timer-container {
  width: 60%;
  margin: 0 auto;
}

.add-button-wrapper {
  text-align: right;
  margin-bottom: 10px;
}

.add-button {
  display: inline-block;
}

.timesheet-title {
  margin-top: 20px;
  margin-bottom: 33px;
}

.gear-icon-wrapper {
  color: #BDBDBD;
  padding: 5px;
  position: absolute;
  top: 75px;  
  right: 10px;
}

.gear-icon-wrapper:hover {
  color: #9E9E9E;
  cursor: pointer;
}

// .add-button {
//   bottom: 36px;
//   right: 54px;
//   z-index: 200;
// }
