.timer {
  position: relative;
  margin: 20px;
  width: 225px;
  margin: 0 auto;
}


.timer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -62%);
}

.timer-control {
  font-size: 35px;
}

.edit-time {
  font-size: 44px;
}

