@import 'variables';
@import '_materialButton';

.time-tracker-page-container {
  padding-bottom: 50px;
}

.time-tracker {
  text-align: center;
}

.timer-section {
  padding: 40px;
  background-color: $timer-background-light-gray;
  border-bottom: 1px solid #e5e5e5;
}

.timer-container {
  width: 60%;
  margin: 0 auto;
}

.add-button {
  position: fixed;
  bottom: 36px;
  right: 54px;
  z-index: 200;
}
