$color-primary: #3949ab;
$border-light-grey: #d9d9d9;
$error-red: #eb7e7f; 
$font-light-grey: #808080;
$font-fullscreen-form-heading: 'Raleway', sans-serif;
$onboard-screen-top-margin: 10%;
$heading-faded-black: #424242;
$title-name-grey: #808080;
$timer-background-light-grey: #f7f8f8;

